* {
	outline: 0;
	box-sizing: border-box
}

a {
	color: #000;
	text-decoration: none;
	background-color: transparent;
	cursor: pointer
}

audio {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0
}

b,
strong {
	font-weight: bolder
}

body {
	font-family: SF, sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #000;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

@media screen and (min-width:42em) {
	body {
		font-size: 18px
	}
}

button {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	background: 0 0;
	color: inherit;
	font: inherit;
	line-height: normal;
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;
	-webkit-appearance: none
}

button::-moz-focus-inner {
	border: 0;
	padding: 0
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0
}

button,
input {
	overflow: visible
}

button,
select {
	text-transform: none
}

button,
input[type=submit],
label[for] {
	cursor: pointer
}

button::-moz-focus-inner {
	padding: 0;
	border: 0
}

[type=button],
[type=reset],
[type=submit],
button {
	-webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
	border-style: none;
	padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
	outline: 1px dotted ButtonText
}

[role=button],
a,
area,
button,
input,
label,
select,
summary,
textarea {
	touch-action: manipulation
}

.case_studies {
	margin: 0 0 44px
}

@media screen and (min-width:42em) {
	.case_studies {
		margin: 0 0 84px
	}
}

code {
	font-family: MyFancyCustomFont, monospace;
	font-size: inherit;
  }
  
  /* Code in text */
  p > code,
  li > code,
  dd > code,
  td > code {
	background: #ffeff0;
	word-wrap: break-word;
	box-decoration-break: clone;
	padding: .1rem .3rem .2rem;
	border-radius: .2rem;
  }
  
.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 32px
}

@media screen and (min-width:64em) {
	.container {
		padding: 0 56px
	}
}

@media screen and (min-width:100em) {
	.container {
		padding: 0 72px
	}
}

details:hover {
	display: block;
}

@font-face {
	font-family: SF;
	src: url(fonts/type/SF.eot);
	src: url(fonts/type/SF.eot?#iefix) format("embedded-opentype"), url(fonts/type/SF.woff) format("woff"), url(fonts/type/SF.ttf) format("truetype"), url(fonts/type/SF.svg#SF) format("svg");
	font-weight: 400;
	font-style: normal
}

.footer {
	width: 100%;
	padding-bottom: 32px
}

@media screen and (min-width:64em) {
	.footer {
		padding-bottom: 56px
	}
}

@media screen and (min-width:100em) {
	.footer {
		padding-bottom: 72px
	}
}

.footer .container {
	display: -webkit-box;
	display: flex
}

.footer__column {
	width: 100%
}

.footer__column:first-child {
	text-align: left
}

.footer__column:last-child {
	text-align: right
}

.footer__column.single {
	text-align: left
}

.header {
	width: 100%;
	padding-top: 32px
}

@media screen and (min-width:64em) {
	.header {
		padding-top: 56px
	}
}

@media screen and (min-width:100em) {
	.header {
		padding-top: 72px
	}
}

.header .container {
	display: -webkit-box;
	display: flex
}

.header__column {
	width: 50%
}

.header__column:first-child {
	text-align: left
}

.header__column:last-child {
	text-align: right
}

.hero {
	margin: 80px 0
}

@media screen and (min-width:42em) {
	.hero {
		margin: 120px 0
	}
}

.hero h1 {
	font-size: 32px;
	font-family: Spectral;
	font-weight: 300
}

@media screen and (min-width:42em) {
	.hero h1 {
		font-size: 40px
	}
}

[hidden] {
	display: none
}

.hidden {
    display: none !important;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	margin: 30px 0;
	border: 1px solid #eee
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%
}

h1 {
	margin-top: 0;
	font-size: 21px;
	line-height: 1.6
}

h1,
h2,
h3,
h4,
h5 {
	margin-top: 0
}

h1,
h2,
h3,
h4 {
	font-family: SF, sans-serif;
	font-weight: 400;
	line-height: 1.2;
	color: #000;
	margin-bottom: 10px
}

@media screen and (min-width:42em) {
	h1 {
		font-size: 24px
	}
}

h2 {
	font-size: 21px
}

@media screen and (min-width:42em) {
	h2 {
		font-size: 24px
	}
}

h3 {
	font-size: 18px
}

@media screen and (min-width:42em) {
	h3 {
		font-size: 24px
	}
}

h4 {
	font-size: 16px
}

@media screen and (min-width:42em) and (max-width:64em) {
	h4 {
		font-size: 18px
	}
}

@media screen and (min-width:64em) {
	h4 {
		font-size: 21px
	}
}

h5 {
	font-size: 14px
}

@media screen and (min-width:42em) and (max-width:64em) {
	h5 {
		font-size: 16px
	}
}

@media screen and (min-width:64em) {
	h5 {
		font-size: 18px
	}
}

h6 {
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400
}

@media screen and (min-width:42em) and (max-width:64em) {
	h6 {
		font-size: 12px
	}
}

@media screen and (min-width:64em) {
	h6 {
		font-size: 12px
	}
}

img,
picture {
	border-style: none;
	margin: 0;
	max-width: 100%
}

.link:hover {
	cursor: default;
}

.main {
	margin: 44px 0
}

@media screen and (min-width:42em) {
	.main {
		margin: 84px 0
	}
}

@media screen and (min-width:42em) {
	.main .container {
		display: -webkit-box;
		display: flex;
		-webkit-box-pack: justify;
		justify-content: space-between;
		flex-wrap: wrap
	}
}

@media screen and (min-width:42em) {
	.main .container>ul {
		width: 45%
	}
}

@media screen and (min-width:64em) {
	.main .container>ul {
		width: 30%
	}
}

.main h2 {
	font-size: 14px;
	margin-bottom: 64px
}

.main ul {
	margin-bottom: 86px
}

.main li {
	cursor: default;
	border-bottom: 1px solid #000;
	display: block;
	padding-bottom: 27px;
	margin-bottom: 32px;
	-webkit-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

.main p {
	cursor: pointer;
}

.main .skill-bars {
	cursor: pointer;
}

.title {
	cursor: pointer;
}

@media screen and (min-width:42em) {
	.main ul {
		margin-bottom: 0
	}
}

.main div.disabled {
	text-decoration: line-through
}

.main a.is-muted {
	border-bottom: 1px solid #ddd
}

.main a.is-active {
	border-bottom: 1px solid #000!important
}

.media {
	margin: 44px 0
}

@media screen and (min-width:42em) {
	.media {
		margin: 84px 0
	}
}

@media screen and (min-width:42em) {
	.media .container {
		display: -webkit-box;
		display: flex;
		-webkit-box-pack: justify;
		justify-content: space-between;
		flex-wrap: wrap
	}
}

@media screen and (min-width:42em) {
	.media .container>ul {
		width: 45%
	}
}

@media screen and (min-width:64em) {
	.media .container>ul {
		width: 30%
	}
}

.media h2 {
	width: 100%;
	display: block;
	font-size: 14px;
	margin-bottom: 64px
}

.media ul {
	margin-bottom: 86px
}

@media screen and (min-width:42em) {
	.media ul {
		margin-bottom: 0
	}
}

.media button {
	float: right;
	font-size: 14px
}

.media a {
	border-bottom: 1px solid #000
}

.media a.is-muted {
	border-bottom: 1px solid #000
}

.media a.is-active {
	border-bottom: 1px solid #000!important
}

.notes {
	margin: 0 0 44px
}

@media screen and (min-width:42em) {
	.notes {
		margin: 0 0 84px
	}
}

.notes h2 {
	font-size: 14px;
	margin-bottom: 64px
}

.note {
	padding-bottom: 27px;
	margin-bottom: 32px;
	border-bottom: 1px solid #000
}

@media screen and (min-width:42em) {
	.note {
		display: -webkit-box;
		display: flex;
		flex-wrap: none
	}
}

.note__date {
	font-size: 14px;
	margin-bottom: 24px
}

@media screen and (min-width:42em) {
	.note__date {
		width: auto;
		min-width: 96px;
		margin-bottom: 0
	}
}

@media screen and (min-width:64em) {
	.note__date {
		min-width: 160px
	}
}

.note__content {
	-webkit-box-flex: 1;
	flex-grow: 1
}

.note__title {
	cursor: pointer
}

.note__body {
	display: none;
	margin-top: 24px;
	max-width: 500px;
	line-height: 1.6
}

p {
	margin-top: 0
}

p {
	margin-bottom: 1.3em;
	line-height: 1.6
}

p span {
	display: block;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none
}

.case_content ul {
	margin: 25px;
	padding: 0;
	list-style: circle;
}

/* [START] hide detail tag arrow */

.details > summary {
	list-style: none;
	cursor: pointer
}

.details summary::-webkit-details-marker {
	display:none;
	cursor: pointer
}

summary {
	display: list-item;
	cursor: pointer;
}

/* [END] hide detail tag arrow */

/* [START] skills progress bar animated */

::selection{
  color: #fff;
  background:black;
}

.skill-bars{
  padding: 2px 0px;
  width: 400px;
  background: #fff;
  /*box-shadow: 5px 5px 20px rgba(0,0,0,0.2);*/
  border-radius: 10px;
}

.skill-bars .bar{
  margin: 20px 0 0 15px;
}

.skill-bars .bar:first-child{
  margin-top: 0px;
}

.skill-bars .bar .info{
  margin-bottom: 5px;
}

.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.4s 0.5s linear forwards;
}

@media screen and (max-width:64em) {
	.skill-bars {
		width: 100%;
	}
}

@media screen and (max-width:100em) {
	.skill-bars {
		width: 100%;
	}
}

@media screen and (min-width:1600px) {
	.skill-bars {
		width: 100%;
	}
}

@keyframes showText {
  100%{
    opacity: 1;
  }
}

.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: whitesmoke;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 0.4s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}

.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #000;
  animation: animate 0.9s 0.1s cubic-bezier(1,0,0.5,1) forwards;
}

.bar .progress-line.startups span{
  width: 100%;
}
.bar .progress-line.prod span{
  width: 60%;
}
.bar .progress-line.proj span{
  width: 80%;
}
.bar .progress-line.data span{
  width: 40%;
}
.bar .progress-line.cd span{
  width: 100%;
}
.bar .progress-line.ux span{
	width: 50%;
}
.bar .progress-line.crm span{
width: 60%;
}
.bar .progress-line.agile span{
	width: 90%;
}
.bar .progress-line.ab span{
	width: 60%;
}
.bar .progress-line.web span{
	width: 10%;
}
.bar .progress-line.sql span{
	width: 50%;
}
.bar .progress-line.python span{
	width: 30%;
}
.bar .progress-line.r span{
	width: 20%;
}
.bar .progress-line.ml span{
	width: 20%;
}
.bar .progress-line.stats span{
	width: 30%;
}
.bar .progress-line.dv span{
	width: 40%;
}
.bar .progress-line.portuguese span{
	width: 100%;
}
.bar .progress-line.english span{
	width: 100%;
}
.bar .progress-line.spanish span{
	width: 80%;
}
.bar .progress-line.french span{
	width: 30%;
}

.progress-line span::after{
  position: absolute;
  top: 12px;
  right: 0;
  font-weight: 500;
  background: #fff;
  color: #000;
  padding: 1px 8px;
  font-size: 14px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.4s 0.9s linear forwards;
}

@keyframes showText2 {
  100%{
    opacity: 1;
  }
}

.progress-line.startups span::after{
  content: ">10 yrs";
}
.progress-line.prod span::after{
  content: "6 yrs";
}
.progress-line.proj span::after{
  content: "8 yrs";
}
.progress-line.data span::after{
  content: "4 yrs";
}
.progress-line.cd span::after{
  content: ">10 yrs";
}
.progress-line.ux span::after{
	content: "5 yrs";
}
.progress-line.crm span::after{
	content: "6 yrs";
}
.progress-line.agile span::after{
	content: "9 yrs";
}
.progress-line.ab span::after{
	content: "6 yrs";
}
.progress-line.web span::after{
	content: "1 yr";
}
.progress-line.sql span::after{
	content: "5 yrs";
}
.progress-line.python span::after{
	content: "3 yrs";
}
.progress-line.r span::after{
	content: "2 yrs";
}
.progress-line.ml span::after{
	content: "2 yrs";
}
.progress-line.stats span::after{
	content: "3 yrs";
}
.progress-line.dv span::after{
	content: "4 yrs";
}
.progress-line.portuguese span::after{
	content: "++++";
	font-size: large;
}
.progress-line.english span::after{
	content: "++++";
	font-size: large;
}
.progress-line.spanish span::after{
	content: "+++";
	font-size: large;
}
.progress-line.french span::after{
	content: "++";
	font-size: large;
}

/* [END] skills progress bar animated */

/* [START] certificates modal/lightbox */

.row > .column {
	padding: 0 8px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

/* create four equal columns that floats next to each other */
.column {
	float: left;
	width: 25%;
}

/* the modal (background) */
.modal {
    display: none; /* hidden by default */
    position: fixed; /* stay in place */
    z-index: 1; /* sit on top */
    padding-top: 100px; /* location of the box */
    left: 0;
    top: 0;
    width: 100%; /* full width */
    height: 100%; /* full height */
    overflow: auto; /* enable scroll if needed */
    background-color: rgb(0,0,0); /* fallback color */
    background-color: rgba(0,0,0,0.3); /* black w/ opacity */
	}

/* modal content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	top: -50px;
	padding: 0;
	width: 90%;
	max-width: 750px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.8s;
	animation-name: animatetop;
	animation-duration: 0.8s
}

.modal-header {
    padding: 8px 16px 4px;
    background-color: white;
    color: black;
	text-align: center;
	font-size: 15px;
	height: 30px;
}

/* the close button */
.close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: rgb(109, 106, 106);
	text-decoration: none;
	cursor: pointer;
}

.mySlides {
	display: none;
}

/* next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: rgb(250, 194, 194)58, 154, 154);
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
	background-color: black;
	background: whitesmoke;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* position the "next button" to the right */
.next {
	right: -5px;
	border-radius: 3px 0 0 3px;
}

/* position the "prev button" to the right */
.prev {
	left: -5px;
	border-radius: 3px 0 0 3px;
}

/* on hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(136, 136, 136, 0.8);
}

/* number text (1/3 etc) */
.numbertext {
	color: #949494;
	background-color: white;
	font-size: 16px;
	font-weight: normal;
	padding: 4px 4px;
	margin: 12px 11px;
	position: absolute;
	top: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.demo {
	opacity: 0.6;
	padding: 1px 8px;
	cursor: pointer;
}

.active,
.demo:hover {
	opacity: 1;
}

img.hover-shadow {
	transition: 0.3s;
	cursor: pointer;
}

.hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* [END] certificates modal/lightbox */

/* [START] case studies gallery */

.case_studies .container {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap
}

.case_studies h2 {
	font-size: 14px;
	margin-bottom: 64px;
	width: 100%;
	display: block
}

.cases {
	width: 50%;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	padding: 25px 10px 25px 0;
}

.cases_div {
	width: 5%;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	padding: 64px 0
}

.cases:nth-child(odd) {
	text-align: right
}

@media screen and (min-width:42em) {
	.cases:nth-child(odd) {
		text-align: center
	}
}

.cases:nth-child(even) {
	text-align: left
}

@media screen and (min-width:42em) {
	.cases:nth-child(even) {
		text-align: center
	}
}

@media screen and (min-width:42em) {
	.cases {
		width: 33.333%
	}
}

@media screen and (min-width:64em) {
	.cases {
		width: 25%
	}
}

@media screen and (min-width:100em) {
	.cases {
		width: 20%
	}
}

.cases a {
	display: block
}

/* [END] case studies gallery */

/* [START] case overlay caption when hover */

.cases * {box-sizing: border-box}

/* container needed to position the overlay. Adjust the width as needed */
.cases .container {
  position: relative;
  width: 90%;
  max-width: 3000px;
  padding-left: 0px;
  padding-right: 0px;
}

/* make the image to responsive */
.cases .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: ;
  transition: .5s ease;
  backface-visibility: hidden;
  padding-left: 0px;
  padding-right: 0px;
  border: solid 1px;
}

@media screen and (max-width:400px) {
	.cases .image {
	}
}

.cases .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.cases .container:hover .image {
  opacity: 0.3;
}

.cases .container:hover .middle {
  opacity: 1;
}

.cases .text {
  background-color: #000000;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
/* [END] case overlay caption when hover */

/* [START] case modal */

/* the modal (background) */
.case_studies .modal1 {
    padding-top: 150px; /* location of the box */
}

.modal1 {
    display: none; /* hidden by default */
    position: fixed; /* stay in place */
    z-index: 1; /* sit on top */
    padding-top: 100px; /* location of the box */
    left: 0;
    top: 0;
    width: 100%; /* full width */
    height: 100%; /* full height */
    overflow: auto; /* enable scroll if needed */
    background-color: rgb(0,0,0); /* fallback color */
    background-color: rgba(0,0,0,0.3); /* black w/ opacity */
	}

/* modal content */
.case_studies .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop;
    animation-duration: 0.6s
}

/* add animation */
@-webkit-keyframes animatetop {
    from {top:-100px; opacity:0}
    to {top:-50px; opacity:1}
}

@keyframes animatetop {
    from {top:-100px; opacity:0}
    to {top: -50px; opacity:1}
}

/* the close button */
.case_studies .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(104, 102, 102);
    text-decoration: none;
    cursor: pointer;
}

.case_studies .row > .column {
	padding: 0 0 0 0;
	margin: 0 -20px 0 -35px;
	min-width: fit-content;
}

.modal-body {padding: 2px ;}

.case_studies .modal-header {
    position:relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
	padding-top: 20px;
    padding-bottom: 280px;
    background-color: white;
    color: white;
	min
}

.modal-header img {
	max-height: 250px;
	border: solid 1px;
}

@media screen and (max-width: 530px) {
	.case_studies .modal-header {
		padding-bottom: 190px;
	}
	.modal-header img {
		max-height: 180px;
	}
}

@media screen and (max-width: 380px) {
	.case_studies .modal-header {
		padding-bottom: 150px;
	}
	.modal-header img {
		max-height: 140px;
	}
}

.case_content {
	text-align: left; 
	margin: 20px 50px;
}

@media screen and (max-width: 530px) {
	.case_studies .case_content {
		margin: 20px 30px 20px 30px;
	}
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-secondary {
    background-color: transparent;
    border-color: #69b3a2;
    color: #69b3a2;
    border-width: small;
}

.text-uppercase {
    text-transform: uppercase!important;
}

.btn-secondary {
    color: #000;
    background-color: black;
    border-color: black;
}

.btn1 {
    display: inline-block;
    font-weight: 400;
	width: 20%;
    text-align: center;
    white-space: nowrap;
    vertical-align: center;
	position:relative;
	left: 50%;
	margin:0 0 0 0;
	background-color: white;
	border-color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid;
    padding: 0 18px 0 18px;
	font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	min-width: fit-content;
	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

.btn1:hover {
	background-color: black;
	color: white;
}

.btn {
    display: inline-block;
    font-weight: 400;
	width: 20%;
    text-align: center;
    white-space: nowrap;
    vertical-align: center;
	background-color: white;
	border-color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid;
    padding: 0 18px 0 18px;
	margin: 0 30px 12px 30px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	min-width: fit-content;
}

.btn:hover {
	background-color: black;
	color: white;
}

.cases h1 {
	font-family: Spectral; 
}

.cases hr {
	margin: 0 0 20px 0;
}

/* [END] case modal */

/* [START] filtering buttons */

.filterDiv {
	display: none; /* hidden by default */
  }

  /* the "show" class is added to the filtered elements */
.show {
	display: block;
  }
  
#myBtnContainer {
	height: 30px;
}

#myBtnContainer .row {
	left: 50%;
	position: relative;
	display: inline-block;
	transform: translate(-50%, -50%);
}

#myBtnContainer .column {
	width: 80px;
	min-width: fit-content;
	margin-bottom: -20px;
}

#myBtnContainer .btn1 {
	margin: 30px 10px 10px 0;
}

@media screen and (max-width: 680px) {
	#myBtnContainer {
		left: 50%;
		position: relative;
		display: inline-block;
		transform: translate(-50%, -50%);
		margin: 50px 50px 50px 20px
	}
}

@media screen and (max-width: 420px) {
	#myBtnContainer {
		margin: 70px 50px 50px 20px
	}
}
.btn1.active1 {
	background-color: black;
	color: white;
  }

/* [END] filtering buttons */

/* [START] visitors counter */

.counter {
	font-size: 18px;
	text-align: left;
	width: 15%;
	margin: 20px 0 0 0;
	border-bottom: 1px solid black;
	padding-bottom: 27px;
	position: absolute;
    right: 0px;
	padding-bottom: 20px;

}

.counter .hitCounter {
	display: inline-block;
	color: black;
	margin-right: -2px;
}

@media screen and (max-width:740px) {
	.counter {
		width: 25%;
		padding-bottom: 10px;
		font-size: 16px;
	}
}

@media screen and (max-width:450px) {
	.counter {
		width: 35%;
		padding-bottom: 10px;
		font-size: 16px;
	}
}

@media screen and (max-width:300px) {
	.counter {
		width: 45%;
		padding-bottom: 5px;
		font-size: 16px;
	}
}
/* [END] visitors counter */


/* OLD STUFF */
/*

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted
}

.show-hide {overflow: hidden; height: 100px; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
.show-hide.show {height: 500px;}

a .icon {
	display: inline-block;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	-webkit-transform: translate(-16px, 2px);
	transform: translate(-16px, 2px)
}

a:hover .icon {
	display: inline-block;
	-webkit-transform: translate(-12px, -2px);
	transform: translate(-12px, -2px)
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

fieldset {
	padding: .35em .75em .625em
}

figure {
	margin: 0
}

form {
	margin: 0
}

input,
select,
textarea {
	max-width: 100%;
	border: 1px solid #eee;
	border-radius: 0
}

input[disabled],
select[disabled],
textarea[disabled] {
	border-color: #eee;
	background-color: #bbb;
	cursor: default
}

.input-error {
	border-color: #e04949;
	background-color: #fff;
	color: #000
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal
}

.loader {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	-webkit-transition: opacity .2s linear;
	transition: opacity .2s linear
}

option {
	background-color: #fff;
	color: #000
}

.photo {
	width: 50%;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	padding: 64px 0
}

.photo:nth-child(odd) {
	text-align: right
}

@media screen and (min-width:42em) {
	.photo:nth-child(odd) {
		text-align: center
	}
}

.photo:nth-child(even) {
	text-align: left
}

@media screen and (min-width:42em) {
	.photo:nth-child(even) {
		text-align: center
	}
}

@media screen and (min-width:42em) {
	.photo {
		width: 33.333%
	}
}

@media screen and (min-width:64em) {
	.photo {
		width: 25%
	}
}

@media screen and (min-width:100em) {
	.photo {
		width: 20%
	}
}

.photo a {
	display: block
}

.photo img {
	width: 65%
}

@media screen and (min-width:42em) {
	.photo img {
		width: 50%
	}
}

pre {
	font-family: monospace, monospace;
	font-size: 1em
}

progress {
	vertical-align: baseline
}

.rte {
	margin: 0
}

.rte img {
	height: auto
}

.rte table {
	table-layout: fixed
}

.rte ol,
.rte ul {
	margin: 0 0 15px 30px
}

.rte strong {
	font-weight: 700
}

select::-ms-expand {
	display: none
}

small {
	font-size: 80%
}

small {
	font-size: 16px;
	display: block
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sub {
	bottom: -.25em
}

sup {
	top: -.5em
}

template {
	display: none
}

textarea {
	overflow: auto
}

textarea {
	min-height: 100px
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

[type=checkbox],
[type=radio] {
	box-sizing: border-box;
	padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	height: auto
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

.progress-line span::before{
  position: absolute;
  content: "";
  top: 12px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 5px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.4s 0.9s linear forwards;
}

/* caption text 
.caption-container {
	text-align: center;
	background-color: white;
	color: black;
	margin-bottom: -15px;
	font-family: SF, sans-serif;
}
