@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bgmnmq');
  src:  url('fonts/icomoon.eot?bgmnmq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bgmnmq') format('truetype'),
    url('fonts/icomoon.woff?bgmnmq') format('woff'),
    url('fonts/icomoon.svg?bgmnmq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-whatsapp-256:before {
  content: "\e908";
}
.icon-play:before {
  content: "\f04b";
}
.icon-512:before {
  content: "\e900";
}
.icon-be7f7eb1f18933369cf644f87bc8c74b--cone-redondo-tel:before {
  content: "\e901";
}
.icon-contato_icone_localizador_cezar_rogerio_imoveis_fa:before {
  content: "\e902";
}
.icon-icon_20569:before {
  content: "\e903";
}
.icon-icone-missao:before {
  content: "\e904";
}
.icon-icone-valores:before {
  content: "\e905";
}
.icon-icone-visao:before {
  content: "\e906";
}
.icon-MTC:before {
  content: "\e907";
}
